<div class="profile">
  <div class="avatar">
    <%= image_tag @profile.avatar %>
  </div>
  <div class="bio-box">
    <p class="date-joined"> <strong>Joined: <%= @profile.created_at %></strong> </p>
  </div>
  <%= form_tag profile_path(@profile), method: :put, multipart: true do %>
    <%= file_field_tag 'profile[avatar]' %><br/>
    <%= submit_tag "Change Avatar"  %><br/>
  <% end %>
</div>