<div class="profile">
  <%= form_for @profile, :html => {:multipart => true} do |f| %>
  <div class="avatar">
    <%= image_tag @profile.avatar %>
  </div>
  <div class="bio-box">
    <p class="date-joined"> <strong>Joined: <%= @profile.created_at %></strong> </p>
  </div>

    <%= f.file_field :avatar %><br/>
    <%= f.submit "Change Avatar"  %><br/>
  <% end %>
</div>