<div class="profile">
  <div>
    <div>
      <div>
        <div class="avatar">
            <%= image_tag @profile.avatar, class: "resize-image" %>
        </div>
          <% if current_user %>
            <fieldset class = "remove-style">
              <%= form_tag profile_path(@profile), method: :put, class: "pure-form", multipart: true do %>
                <%= file_field_tag 'profile[avatar]', class: "pure-input-1", required: true %>
                <%= submit_tag "upload image" %>
              <% end %>
            </fieldset>
          <% end %>
        </div>
      </div>

      <div>
        <%= form_tag profile_path(@profile), method: :put, class: "pure-form" do %>
          <fieldset class = "remove-style">
          <% if current_user %>
            <div class = "inner-bio-box">
              <p class="date-joined"> <strong>Joined: <%= @profile.created_at %></strong> </p>
              <%= text_area_tag 'profile[bio]', @profile.bio, class: "pure-input-1-2 bio-box" %>
              <%= submit_tag "save bio" %>
            </div>
          <% else %>
            <div class = "inner-bio-box">
              <p class="date-joined"> <strong>Joined: <%= @profile.created_at %></strong> </p>
              <%= text_area_tag 'profile[bio]', @profile.bio, class: "pure-input-1-2 bio-box", disabled: true %>
            <div>
          <% end %>
        </fieldset>
      <% end %>
      </div>
    </div>
  </div>
</div>