<div class="profile">
  <div>
    <div>
      <div>
        <div class="avatar">
            <% avatar = @profile.avatar.url.nil? ? 'user-female.png' : @profile.avatar.url %>
            <%= image_tag avatar, class: "resize-image" %>
        </div>
          <% if current_user && current_user.id == @profile.user.id %>
            <fieldset class = "remove-style">
              <%= form_tag profile_path(@profile), method: :put, class: "pure-form", multipart: true do %>
                <%= file_field_tag 'profile[avatar]', class: "pure-input-1", required: true %>
                <%= submit_tag "upload image", class: "submit-confirm-button" %>
              <% end %>
            </fieldset>
          <% end %>
        </div>
      </div>

      <div>
        <%= form_tag profile_path(@profile), method: :put do %>
          <fieldset class = "remove-style">
          <% if current_user && current_user.id == @profile.user.id %>
            <div class = "inner-bio-box">
              <div class="date-joined">
                @<%= @user.username %></br>
                <strong>Joined: <%= @profile.created_at.strftime("%B, %Y") %></strong>
              </div>
              <%= text_area_tag 'profile[bio]', @profile.bio, class: "bio-box" %>
              <%= submit_tag "save bio", class: "submit-confirm-button" %>
            </div>
          <% else %>
            <div class = "inner-bio-box">
              <div class="date-joined">
                @<%= @user.username %></br>
                <strong>Joined: <%= @profile.created_at.strftime("%B, %Y") %></strong>
              </div>
              <%= text_area_tag 'profile[bio]', @profile.bio, class: "bio-box", disabled: true %>
            <div>
          <% end %>
        </fieldset>
      <% end %>
      </div>
    </div>
  </div>
</div>